// COLORS
$text2: #832d34;
$text1: #ffffff;

$mainConditionBG: rgba(119, 25, 33, 0.89);
$mainInfoBG: rgba(46, 28, 37, 0.98);
$blancBG: white;

//FONT_SIZE
$mainDegreeFS: 78px; //28*C
$mainConditionFS: 36px; //sunny
$mainInfoFS: 23px; //Tokyo....
$broadcastFS: 16px;

//PICS
$pictures: '../pics/';
