//GRID
@mixin gridWrap ($h, $w) {
    display: grid;
    height: $h;
    width: $w;
}
@mixin gridElement ($gridArea) {
    grid-area: $gridArea;
}
@mixin broadcasts {
    display: inline-block;
    height: 100%;
    text-align: center;
    width: 50px;
}
@mixin centerer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin text ($LH:10px, $color:black, $FS:$broadcastFS) {
    line-height: $LH;
    font-size: $FS;
    color: $color;
}